{%- style -%}
.section-banner-help-center{
    background-image: url({{ section.settings.main_image | image_url  }});
    background-repeat: no-repeat;
    width: 100%;
    background-size: cover;
    height: 400px;
    background-position: center;
}
.predictive-search-form__content-banner {
  display: none;
}
.banner-help-content{
    max-width: 530px;
    width: 100%;
    padding: 0 15px;
    box-sizing: border-box;
    margin: 0 auto;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.main-title-benner-help{
    text-align: center;
    color: white;
    font-size: 42px;
    font-weight: bold;
}
.banner-help-content .search-input{
    box-shadow: none !important;
    padding-left: 25px;
}
.main-container-search-icon{
    width: 30px;
    height: 30px;
    margin-left: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.predictive-search__icon{
    position: static
}
@media(max-width: 767px){
    .main-title-benner-help{
        font-size: 30px;
    }
    .banner-help-content .search-input{
        min-width: 242px;
    }
    .banner-help-content .predictive-search__close-modal-button{
        display: none;
    }
}
{%- endstyle -%}
<section class="section-banner-help-center">
    <div class="banner-help-content">
        {% if section.settings.title != blank %}
            <div class="main-title-benner-help">{{ section.settings.title }}</div>
        {% endif %}
        
        <predictive-search-component
            class="predictive-search color-{{ settings.popover_color_scheme }}{% if class != blank %} {{ class | strip }}{% endif %}"
            style="--product-corner-radius: {{ settings.product_corner_radius | default: 8 | append: 'px' }}; --card-corner-radius: {{ settings.card_corner_radius | default: 8 | append: 'px' }};{% if settings.card_title_case == 'uppercase' %} --title-case: uppercase;{% endif %}"
            data-section-id="predictive-search"
            data-testid="{{ search_test_id }}"
            role="search"
            aria-label="{{ 'content.search_input_label' | t }}"
        >
            <form action="{{ routes.search_url }}" method="get" role="search" class="predictive-search-form">
                <div class="predictive-search-form__header">
                    <div class="predictive-search-form__header-inner">
                        <label for="Search" class="visually-hidden">
                            {{ 'content.search_input_label' | t }}
                        </label>
                        <div class="main-container-search-icon">
                            <span class="svg-wrapper predictive-search__icon">
                                {{ 'icon-search.svg' | inline_asset_content }}
                            </span>
                        </div>
                        <input
                            class="search-input"
                            id="Search"
                            type="search"
                            name="q"
                            placeholder="Search products..."
                            autocomplete="off"
                        >
                            <button type="button" class="button-unstyled predictive-search__reset-button">
                                <span class="svg-wrapper predictive-search__reset-button-icon">
                                    {{ 'icon-reset.svg' | inline_asset_content }}
                                </span>
                            </button>
                        </div>
                    </div>
                    
                    <div class="predictive-search-form__content-wrapper">
                        <div class="predictive-search-form__content predictive-search-form__content-banner" tabindex="-1">
                            {% render 'predictive-search-empty-state', load_empty_state: false %}
                        </div>
                    </div>
                </form>
                
                <script>
                    document.addEventListener('DOMContentLoaded', () => {
                        const searchForm = document.querySelector('.predictive-search-form');
                        const searchInput = searchForm.querySelector('.search-input');
                        const searchIconContainer = document.querySelector('.main-container-search-icon');
                        const resetBtn = document.querySelector('.predictive-search__reset-button');
                        
                        if(searchIconContainer){
                            searchIconContainer.addEventListener('click', () => {
                                if (searchInput.value.trim() !== '') {
                                    searchForm.submit();
                                } else {
                                    searchInput.focus(); 
                                }
                            });
                        }
                        
                        if(resetBtn && searchInput){
                            resetBtn.addEventListener('click', () => {
                                searchInput.value = '';
                                searchInput.focus();
                            });
                        }
                    });
                </script>
        </predictive-search-component>
    </div>
</section>

<script>
    
document.addEventListener('DOMContentLoaded', () => {
  const searchInput = document.querySelector('.search-input');
  const resultsWrapper = document.querySelector('.predictive-search-form__content-banner');

  if (searchInput && resultsWrapper) {
    searchInput.addEventListener('focus', () => {
      resultsWrapper.style.display = 'block';
    });

    document.addEventListener('click', (e) => {
      if (!searchInput.contains(e.target) && !resultsWrapper.contains(e.target)) {
        resultsWrapper.style.display = 'none';
      }
    });
  }
});
</script>

{% schema %}
{
    "name": "Banner search",
    "settings": [
        {
            "type": "image_picker",
            "id": "main_image",
            "label": "Background image"
        },
        {
            "type": "richtext",
            "id": "title",
            "label": "Title"
        },
    ],
    "presets": [
        {
            "name": "Banner search",
        }
    ]
}
{% endschema %}
